<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<meta name="theme-color" content="#212121">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<title>Jeeyin Blog</title>
		<!-- Load Css -->
		<link rel="stylesheet" href="css/Style.css">
		<!-- Animate By Material -->
		<link rel="stylesheet" href="css/animate.min.css">
	<head>
	<body>
	<!-- Header -->
		<header class="header animated fadeIn">
		<a href="/"><div class="title">Jeeyin</div></a>
		<div class="header_menu">
		<i id="menu_top" class="material-icons menu_top">menu</i>
		</div>
		
		<!-- Header-List -->
		<div class="header_nav">
				<ul>
				<a href="/"><li>Index</li></a>
				<a href="/About"><li>About</li></a>
				</ul>
		</div>
		<!-- Header-List End -->
		
		<div class="header_line"></div>
		
		<!-- Mobile-Header-List -->
		<div id="menu_list">
		<h1>- Menu -</h1>
			<div class="menu_nav">
				<ul>
				<a href="/"><li>Index</li></a>
				<a href="/About"><li>About</li></a>
				</ul>
			</div>
			
		</div>
		<!-- Mobile-Header-List End -->
		</header>
		<div class="large-header animated fadeIn">
			<div class="htitle">
			Jeeyin
			</div>
			<div class="header_hitokoto">
			<span id="hitokoto"></span>
			<div class="hitokotornd"></div>
			</div>
		</div>
		<!-- Main -->
		<main>
			{% block main %}{% end %}
				</main>
		<!-- Main End -->
	<!-- Load Js/Jq -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/home.js"></script>
	</body>
</html>
